AddHandler php5-cgi .html .htm

# disable directory browsing                                                                                                                                                   
Options All -Indexes

# Hide Git Files
RewriteEngine On
RewriteRule ^(.*/)?\.git+ - [F,L]

# Block requests for emacs/vi standard filename~ files
<Files ~ "\~$">
       Order allow,deny
       Deny from all
       Satisfy All
</Files>

# Block requests for anything like filename.old
<Files ~ "\.(bak|old|copy|tmp|swp?)$">
       Order allow,deny
       Deny from all
       Satisfy All
</Files>

# Block hidden files
<FilesMatch "^\.">
       Order allow,deny
       Deny from all
       Satisfy All
</FilesMatch>
